#particle-canvas {
    width: 100%;
    height: 100%;
}

#sec1 {
    width: 100%;
    height: 100%;
}

#inner {
    width: 25%;
    height: 25%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 40pt;
}

#bc02Div {
    height: 100%;
}
#dilbertIconDiv {
    width: 15%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
}
#dilbertBcDiv {
    width: 80%;
    position: absolute;
    left: 90px;
    top: 160px;
    left: 0 px;
    background-position: center;  
    z-index: 999;
}
.inlinerow {
    text-shadow: 2px 2px 5px red;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 40pt;
}
#inlinerowKid1 > h1 {
    text-shadow: 2px 2px 10px red;
}
#inlinerowKid2 > h1 {
    text-shadow: 2px 2px 10px red;
}
#inlinerowKid3 > h1 {
    text-shadow: 2px 2px 10px red;
}
#inlinerowKid4 > h1 {
    text-shadow: 2px 2px 10px red;
}
.inlinerow div {
    display: inline;
    vertical-align: middle;
    width: 25%;
}
.inlinerow li {
    display: inline;
}

#BBCTitle {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 40pt;
}


